.component2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2_6);
  text-align: right;
  font-size: var(--fs-12_2);
  color: var(--blue);
  font-family: var(--font-chivo-mono-medium);
}
.insightsLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-4_4);
}
.readMore {
  position: relative;
  line-height: 130%;
  text-transform: uppercase;
}

.insightsNavigatorIcon {
  height: var(--height-12_7);
  width: var(--width-11_9);
  position: relative;
  object-fit: contain;
}
.studiesHeader {
  width: var(--width-29_3);
  height: var(--height-0_9);
  position: relative;
  border-top: var(--border-4);
  box-sizing: border-box;
}
