.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-26);
  text-align: left;
  font-size: var(--fs-14);
  color: var(--white);
  font-family: var(--font-chivo-mono-medium);
  animation: fadeUp 0.7s ease forwards;
}
.frameGroup {
  align-self: stretch;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-0) var(--padding-26) var(--padding-0) var(--padding-0);
  gap: var(--gap-20);
}
.frameChild {
  height: var(--height-49);
  width: var(--width-47);
  position: relative;
}
.nbfc {
  position: relative;
  line-height: 130%;
  text-transform: uppercase;
  opacity: var(--opacity-0_6);
  color: #ebf5fa;
}
.loanOriginationSystemParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-32);
  font-size: var(--fs-22);
  font-family: var(--font-archivo);
  color: #ebf5fa;
}
.loanOriginationSystem,
.n7BringsFull {
  position: relative;
  display: inline-block;
}
.loanOriginationSystem {
  margin: 0;
  width: var(--width-263_7);
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
  opacity: var(--opacity-0_9);
}
.n7BringsFull {
  width: var(--width-268_5);
  font-size: var(--fs-16);
  line-height: 130%;
  opacity: var(--opacity-0_7);
}
@media screen and (max-width: 450px) {
  .loanOriginationSystemParent {
    gap: var(--gap-16);
  }
  .loanOriginationSystem {
    font-size: var(--fs-18);
    line-height: var(--lh-21);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
